################################# Everything ###################################
*

##################################### Keep #####################################
!.gitignore
!*/video/*
!*/code/*
!*/data/annotated_data
